
node_modules/
property/
__pycache__/
.Python
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
myenv/
ENV/
env.bak/
venv.bak/

.vscode/

static/CACHE/

backups/
backup.json

.DS_Store

.env.example

.env.prod


data/

google_tokens.json

token_gmail_v1.pickle
README2.md
gmail_oauth_token.json
farid_oauth2.json
cron_logs.json

start.sh