DATABASE_URL=
PGDATABASE=
PGHOST=
PGPASSWORD=
PGPORT=
PGUSER=
SECRET_KEY=
DEBUG=True
API_AUTH_TOKEN=
DJANGO_ENV=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_USER_ID=
DOCUSIGN_API_ACCOUNT_ID=
DOCUSIGN_TEMPLATE_ID=
DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_PRIVATE_KEY=
DOCUSIGN_API_URL=
DOCUSIGN_API_URL2=
DOCUSIGN_AUTH_SERVER=
DOCUSIGN_AUTH_SERVER2=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
MANAGER_PHONE=
MANAGER_PHONE2=
TWILIO_PHONE_SECONDARY=
OPENAI_API_KEY=
TEMPLATE_INVOICE_DOCUMENT_ID=
TEMPLATE_BOOKING_CONTRACT_DOCUMENT_ID=
MANAGER_GMAIL=
MANAGER_MAIL2=
GOOGLE_OAUTH2_TOKEN_FILE=
ADOBE_CLIENT_ID=
ADOBE_SIGN_CLIENT_ID=
ADOBE_SIGN_CLIENT_SECRET=
ADOBE_SIGN_REFRESH_TOKEN=
ADOBE_SIGN_TEMPLATE_ID=
DOCUSEAL_API_KEY=
DOCUSEAL_TEMPLATE_ID=
TELEGRAM_HANDY_MAN_BOT_TOKEN=
TELEGRAM_HANDY_MAN_CHAT_ID=
TELEGRAM_CHAT_ID_MANAGER=
MANAGER_PHONE3=