Django==4.2.4
django-compat==1.0.15
django-compressor==4.4
django-widget-tweaks==1.4.12
django4-background-tasks==1.2.9
docusign-esign==3.23.0
gunicorn==21.2.0
psycopg2-binary==2.9.7
python-dotenv==1.0.0
requests==2.31.0
slippers==0.6.2
whitenoise==6.5.0
twilio==8.11.1
python-telegram-bot==20.7
openai=1.9.0