@tailwind base;
@tailwind components;
@tailwind utilities;


/* Set a maximum height for the row */
.notification-box {
    max-height: 100px;
    overflow: hidden;
    cursor: pointer;
}

/* Style for the expanded row */
.notification-box.expanded {
    max-height: none;
    /* Remove the maximum height */
    overflow-y: visible;
    /* Show all content */
}


/* .tooltip {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 0; 
    right: auto; 
    margin-left: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

td:hover .tooltip {
    visibility: visible;
    opacity: 1;
} */

label[textContent="Confirmed"] {
    color: green !important;
}
label[textContent="Waiting Contract"] {
    color: yellow !important;
}
label[textContent="Waiting Payment"] {
    color: orange !important;
}
label[textContent="Blocked"] {
    color: black !important;
}
label[textContent="Pending"] {
    color: lightgreen !important;
}
label[textContent="Problem Booking"] {
    color: red !important;
}

.booking-start {
    background: theme('colors.blue.500');
    color: white !important;
}

.booking-end {
    background: theme('colors.purple.500');
    color: white !important;
}

.booking-start-end {
    background: linear-gradient(to right, theme('colors.blue.500') 50%, theme('colors.purple.500') 50%);
    color: white !important;
}