{% extends "_base.html" %}
{% load slippers %}
{% load custom_filters %}
{% block content %}


  <section class="bg-white dark:bg-gray-900"> 
    <div class="pb-8 px-4 mx-auto max-w-screen-xl lg:pb-16 lg:px-6">
        
        
        <div class="flex justify-center items-center mb-8">
            <!-- Previous Year Button -->
            <a href="?apartment.id={{ apartment_id }}&year={{ prev_year }}" id="prevYearLink" class="text-blue-500 underline p-4 block text-2xl font-extrabold" style="height: fit-content;">
                Previous Year
            </a>
            
            <!-- Current Year Button -->
            <a href="?apartment.id={{ apartment_id }}" id="fromNowLink" class="text-blue-500 underline p-4 block text-2xl font-extrabold" style="height: fit-content;">
                From Now
            </a>
            <a href="?apartment.id={{ apartment_id }}&year={{ current_year }}"  id="currentYearLink"  class="text-blue-500 underline p-4 block text-2xl font-extrabold" style="height: fit-content;">
                Current Year
            </a>
            
            <!-- Next Year Button -->
            <a href="?apartment.id={{ apartment_id }}&year={{ next_year }}"  id="nextYearLink"  class="text-blue-500 underline p-4 block text-2xl font-extrabold" style="height: fit-content;">
                Next Year
            </a>
            <select id="apartment" onchange="updateLinks()" name="apartment" class="bg-gray-50 border ml-6 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-30 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value="">None</option>
                {% for apt in apartments %}
                    <option value="{{ apt.0 }}">{{ apt.1 }}</option>
                {% endfor %}
            </select>
        </div>
        
        
        {% for apartment_id, apartment_data in apartments_data.items %}
            <div class="flex justify-between items-center bg-zinc-100 p-2">
                
                    <div class="ml-4 text-2xl mb-2 tracking-tight">
                       
                        <a class="cursor-pointer  underline font-extrabold text-blue-500 dark:text-white mr-4" target="_blank" href="/apartments?q=id={{apartment_id}}">
                        {{  apartment_data.apartment.name }} 
                        </a>
                       
                    </div> 
                    <div class="flex items-center justify-between w-3/5 ml-auto">
                        <div class="flex flex-col">   
                            <span class="mr-4 text-blue-500"><span class="font-bold">Completed Revenue:</span> ${{ apartment_data.income|default:0|format_number }}</span>
                            <span class="text-yellow-500"><span class="font-bold">Pending Revenue</span> ${{ apartment_data.pending_income|default:0|format_number }}</span>
                        </div>
                        <div class="flex flex-col">
                            <span class="mr-4 text-red-600"><span class="font-bold">Expense:</span> ${{ apartment_data.outcome|default:0|format_number }}</span>
                            <span class="text-yellow-500"><span class="font-bold">Expense:</span> ${{ apartment_data.pending_outcome|default:0|format_number }}</span>
                        </div>   
                        <div class="flex flex-col">
                            <div class="mr-4 text-green-500"><span class="font-bold">Profit:</span> ${{ apartment_data.profit|default:0|format_number }}</div>
                            <div class="text-yellow-500"><span class="font-bold">Profit:</span> ${{ apartment_data.pending_profit|default:0|format_number }}</div>
                        </div>
                        <div class="text-purple-500 font-extrabold text-2xl mr-4">[{{apartment_data.total_occupancy}}%]</div>    
                    </div>   
                
            </div>
            <div class="flex items-center mb-8">
                

                <!-- Calendars -->
                <div class="flex-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for month, month_data in apartment_data.months.items %}
                   
                        {% with weeks=month_data.weeks month_total_profit=month_data.month_total_profit month_sure_profit=month_data.month_sure_profit month_outcome=month_data.month_outcome  month_income=month_data.month_income  month_occupancy=month_data.month_occupancy %}
                            {% include "calendar.html" %}
                        {% endwith %}    
                    {% endfor %}
                </div>
        
               
            </div>
           
       {% endfor %}
       <div class="flex justify-center items-center mt-8">
        <!-- Previous Year Button -->
        <a href="?apartment.id={{ apartment_id }}&year={{ prev_year }}" class="text-blue-500 underline p-4 block" style="height: fit-content;">
            Previous Year
        </a>
        
        <!-- Current Year Button -->
        <a href="?apartment.id={{ apartment_id }}" class="text-blue-500 underline p-4 block" style="height: fit-content;">
            From Now
        </a>
        <a href="?apartment.id={{ apartment_id }}&year={{ current_year }}" class="text-blue-500 underline p-4 block" style="height: fit-content;">
            Current Year
        </a>
        
        <!-- Next Year Button -->
        <a href="?apartment.id={{ apartment_id }}&year={{ next_year }}" class="text-blue-500 underline p-4 block" style="height: fit-content;">
            Next Year
        </a>
    </div>
    <div class="flex justify-center items-center mb-6 mt-6">
        <div class="flex items-center mr-2">
            <span class="w-10 flex justify-center items-center text-blue-500 border border-blue-500 font-extrabold rounded-sm mr-2">01</span>
            <span>- Booking</span>
        </div>
        <div class="flex items-center mr-2">
            <span class="w-10 flex justify-center items-center relative rounded-sm mr-2">01
                <div class="absolute top-0 right-0 w-2 h-2 bg-transparent" style="clip-path: polygon(100% 0, 0 0, 100% 100%); background-color: #4ade80;"></div>
            </span>
            <span>- Cleaning</span>
        </div>
        <div class="flex items-center">
            <span class="w-10 flex justify-center items-center relative rounded-sm mr-2">01
                <div class="absolute bottom-0 right-0 w-2 h-2 bg-transparent" style="clip-path: polygon(100% 100%, 100% 0, 0 100%); background-color: #facc15;"></div>
            </span>
            <span>- Payment</span>
        </div>
        <div class="flex items-center mr-2">
            <span class="w-10 flex justify-center items-center text-purple-500 font-extrabold rounded-sm mr-2">01</span>
            <span>- Start/End Date</span>
        </div>
    </div>
    
  </div>
</section>



<script>
    {% comment %} console.log({{apartments_data_json|safe}}) {% endcomment %}
     
    function updateLinks() {
        var apartmentId = document.getElementById('apartment').value;
        var currentYear = {{current_year}};
        var prevYear = {{prev_year}};
        var nextYear = {{next_year}};
    
        document.getElementById('prevYearLink').href = '?apartment.id=' + apartmentId + '&year=' + prevYear;
        document.getElementById('fromNowLink').href = '?apartment.id=' + apartmentId;
        document.getElementById('currentYearLink').href = '?apartment.id=' + apartmentId + '&year=' + currentYear;
        document.getElementById('nextYearLink').href = '?apartment.id=' + apartmentId + '&year=' + nextYear;
    }
    document.addEventListener('DOMContentLoaded', function() {
        const days = document.querySelectorAll('.day');
        const popover = document.getElementById('dynamic-popover');
        const popoverTitle = document.getElementById('popover-title');
        const popoverContent = document.getElementById('popover-content');
        const aparetment_dropdown = document.getElementById('apartment');
        const closeButton = document.getElementById('close-popover');
        closeButton.addEventListener('click', function() {
            popover.classList.add('hidden');
        });

        var urlParams = new URLSearchParams(window.location.search);
        var queryParam = urlParams.get("apartment.id");
    
        
        if (queryParam) {
            aparetment_dropdown.value = queryParam;
        }

        
    
        days.forEach(day => {
            day.addEventListener('click', function(event) {
                const date = day.dataset.date;
    
                const bookingIds = day.dataset.bookingIds.split(',');
                const bookingStarts = day.dataset.bookingStarts.split(',');
                const tenants = day.dataset.tenants.split(',');
                const tenantsIds = day.dataset.tenantsIds.split(',');
                const bookingEnds = day.dataset.bookingEnds.split(',');
                const bookingStatuses = day.dataset.bookingStatuses.split(',');
    
                const cleaningIds = day.dataset.cleaningIds.split(',');
                const cleaningStatuses = day.dataset.cleaningStatuses.split(',');
    
                const paymentIds = day.dataset.paymentIds.split(',');
                const paymentTypes = day.dataset.paymentTypes.split(',');
                const paymentAmounts = day.dataset.paymentAmounts.split(',');
                const paymentStatuses = day.dataset.paymentStatuses.split(',');
    
                // Set the title of the popover with the date
                popoverTitle.textContent = date;
    
                // Prepare the content for the popover
                let content = '';
    
                bookingIds.forEach((bookingId, index) => {
                    if (bookingId) {
                        content += `<strong>Booking:</strong> <a class='text-blue-500 underline' href="/bookings?q=id=${bookingId}">${bookingStarts[index]} - ${bookingEnds[index]} [${bookingStatuses[index]}]. </a><br>`;
                    }
                });
                tenantsIds.forEach((tenantId, index) => {
                    if (tenantId) {
                        content += `<strong>Tenant:</strong> <a class='text-blue-500 underline' href="/users?q=id=${tenantId}">${tenants[index]}. </a><br>`;
                    }
                });
    
                cleaningIds.forEach((cleaningId, index) => {
                    if (cleaningId) {
                        content += `<strong>Cleaning:</strong> <a class='text-blue-500 underline' href="/cleanings?q=id=${cleaningId}">Cleaning: [${cleaningStatuses[index]}]</a><br>`;
                    }
                });
    
                paymentIds.forEach((paymentId, index) => {
                    if (paymentId) {
                        content += `<strong>Payment:</strong>  <a class='text-blue-500 underline' href="/payments?q=id=${paymentId}">${paymentTypes[index]} ${paymentAmounts[index]} [${paymentStatuses[index]}]</a><br>`;
                    }
                });
    
                // Update the popover content
                popoverContent.innerHTML = content || 'No events for this day';
    
                // Position the popover above the clicked day
                popover.style.left = `${event.clientX - popover.offsetWidth / 2}px`;
                popover.style.top = `${event.clientY - popover.offsetHeight - 10}px`;
    
                // Show the popover
                popover.classList.remove('hidden');
            });
        });


   
    
        // Hide the popover when clicking outside
        document.addEventListener('click', function(event) {
            if (!event.target.closest('.day') && !event.target.closest('#dynamic-popover')) {
                popover.classList.add('hidden');
            }
        });
    });
    
    
</script>

<div id="dynamic-popover" class="hidden fixed z-10 w-[375px] text-sm text-gray-500  bg-white border border-gray-200 rounded-lg shadow-sm  dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
    <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700 flex justify-between items-center">
        <h3 class="font-semibold text-gray-900 dark:text-white" id="popover-title"></h3>
        <button id="close-popover" class="text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-white">
            &times;
        </button>
    </div>
    <div class="px-3 py-2" id="popover-content">
        <!-- Content will be dynamically added here -->
    </div>
</div>
  

{% endblock content %}
