{% load custom_filters %}

<div id="updateModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Update / Delete Booking</h3>
                <button id="closeEditModal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="updateModal">
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form  method="POST" action="/">
                <input type="hidden" name="edit" value="true">
                <input type="hidden" name="id" id="editId" value="">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    {% for field_name, field_instance in model_fields %}
                        {% if field_instance.isEdit %}
                            {% if field_instance.ui_element == "textarea" %}
                                <div class="sm:col-span-2">
                                    <label for="{{ field_name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field_name|split_underscore|title }}
                                        {% if field_instance.required %}<span class="text-red-600">*</span>{% endif %}
                                    </label>
                                    <textarea id="{{field_name}}" name="{{field_name}}" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder=""></textarea>
                                </div>
                            {% else %}
                                <div>
                                    <label for="{{ field_name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field_name|split_underscore|title }}
                                        {% if field_instance.required %}<span class="text-red-600">*</span>{% endif %}
                                    </label>
                                    {% if field_instance.ui_element == "datepicker" %}
                                        <input name="{{field_name}}" id="{{field_name}}" datepicker type="text" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                                    {% elif field_instance.ui_element == "checkbox" %}
                                        <input checked id="{{field_name}}" type="checkbox" name="{{field_name}}" value="1" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    {% elif field_instance.ui_element == "dropdown" %}
                                        <select name="{{ field_name }}" id="{{ field_name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                            <option value="">None</option>
                                            {% for option in field_instance.dropdown_options %}
                                                <option value="{{ option.value }}">{{ option.label }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="text" name="{{ field_name }}" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{ field_name|split_underscore|title }}">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="paymentsContainer-edit"></div>  
                <div class="mb-4">
                    <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Related Objects:</h4>
                    <div class="related-links flex flex-col">
                        <!-- Links will be populated here by JavaScript -->
                    </div>
                </div>            
                <div class="flex items-center space-x-4">
                    <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-500">Update</button>
                   
                    <button data-modal-target="deleteModal" data-modal-toggle="deleteModal"  type="button" class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                        <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                        Delete
                    </button>
                    {% if model == "bookings" %}
                        <button type="button" onclick='addPaymentRow("edit")' id="payment-button" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-500">Add Payment</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete modal -->
<div id="deleteModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <form method="POST" action="/" method="post" class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <input type="hidden" name="delete" value="true">
            <input type="hidden" name="id" id="deleteId" value="">
            <button type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <svg class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
            <p class="mb-4 text-gray-500 dark:text-gray-300">Are you sure you want to delete it? It might delete related data</p>
            <div class="flex justify-center items-center space-x-4">
                <button data-modal-toggle="deleteModal" type="button" class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
                <button type="submit" class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">Yes, I'm sure</button>
            </div>
        </form>
    </div>
</div>


<script>
    {% comment %} function formatDate(dateString) {
        if (!dateString) {
            return "";
        }
    
        const date = new Date(dateString);
        const isoString = date.toISOString();
        const [year, month, day] = isoString.substring(0, 10).split('-');
        return `${month}/${day}/${year}`;
    } {% endcomment %}
    document.addEventListener('DOMContentLoaded', function() {
       
       
    
        const closeModalButton = document.getElementById('closeEditModal');
        closeModalButton.addEventListener('click', function() {
            updateModal.style.display = 'none';
        });
    
        window.addEventListener('click', function(event) {
            if (event.target === updateModal) {
                updateModal.style.display = 'none';
            }
        });
    
       
    
        window.addEventListener('keydown', function(event) {
            if (event.key === 'Escape' && updateModal.style.display === 'flex') {
                updateModal.style.display = 'none';
            }
        });
        console.log(items_json, "items_json")
            
    });
    function openModalForItemId(itemId) {
        const deleteIdInput = document.getElementById('deleteId');
        const editIdInput = document.getElementById('editId');
        const updateModal = document.getElementById('updateModal');

        const item = items_json.find(i => i.id === itemId);
        deleteIdInput.value = itemId;
        editIdInput.value = itemId;

        if (item) {
            for (let [fieldName, fieldValue] of Object.entries(item)) {
                
                if(fieldName === "apartment_id"){
                    fieldName = "apartment"
                }
                const inputField = updateModal.querySelector(`[name="${fieldName}"]`);
                console.log(fieldName, fieldValue, "______")
                if (inputField) {
                    if (inputField.tagName === 'SELECT') {
                        let valueSet = false;
                        for (const option of inputField.options) {
                            if (option.value == fieldValue) {
                                option.selected = true;
                                valueSet = true;
                            } else {
                                option.selected = false;
                            }
                        }
                        if (!valueSet && !fieldValue) {
                            inputField.options[0].selected = true; 
                        }
                    } else if (inputField.tagName === 'INPUT' && inputField.hasAttribute('datepicker')) {
                        inputField.setAttribute('data-date', formatDate(fieldValue));
                        inputField.value = formatDate(fieldValue);
                    } else if (inputField.tagName === 'TEXTAREA') {
                        inputField.innerHTML = fieldValue;
                    } else if (inputField.tagName === 'INPUT' && inputField.type === 'checkbox') {
                        inputField.checked = (fieldValue === true || fieldValue === '1');
                    } else {
                        inputField.value = fieldValue;
                    }
                }
            }

            const linksContainer = document.querySelector('#updateModal .related-links');
            linksContainer.innerHTML = ''; 

            item.links.forEach(link => {
                const parts = link.name.split(':');
                if (parts.length !== 2) return;

                const linkContainer = document.createElement('div');
                linkContainer.classList.add('flex', 'items-center', 'mb-2');

                const boldText = document.createElement('span');
                boldText.textContent = parts[0].trim() + ': ';
                boldText.classList.add('font-bold', 'mr-1');

                const linkElement = document.createElement('a');
                linkElement.href = link.link;
                linkElement.textContent = parts[1].trim();
                linkElement.setAttribute('target', '_blank');
                linkElement.classList.add('text-blue-500', 'hover:text-blue-700', 'mr-2');

                const arrowSymbol = document.createElement('span');
                arrowSymbol.innerHTML = '&rarr;';
                arrowSymbol.classList.add('ml-2');

                linkContainer.appendChild(boldText);
                linkContainer.appendChild(linkElement);
                linkElement.appendChild(arrowSymbol);

                linksContainer.appendChild(linkContainer);
            });
        }

        updateModal.style.display = 'flex';
    }
</script>    