{% extends "_base.html" %}


{% block content %}
<script>
    function myFunction1(item) {
        console.log("Dropdown 1 item clicked:", item);
    }

    function myFunction2(item) {
        console.log("Dropdown 2 item clicked:", item);
    }

    // Add more functions if needed
</script>

{% for dropdown in all_dropdowns %}
    <div>Test<div>
    {% include 'components/dropdown.html' with items=dropdown.items onchange_function=dropdown.onchange_function %}
{% endfor %}

<h1 class="text-3xl text-green-800">Django + Tailwind CSS + Flowbite !!!!</h1>
{% endblock content %}
