{% extends "_base.html" %}
{% load slippers %}
{% load custom_filters %}
{% block content %}

<script src="https://cdn.docuseal.co/js/form.js"></script>
<script>
    const items_json ={{ items_json|safe }}
    const users_json ={{ users_json|safe }}
</script>

  <section class="bg-white dark:bg-gray-900"> 
    <div class="pb-8 px-4 mx-auto max-w-screen-xl lg:pb-16 lg:px-6">
        <div class="mx-auto max-w-screen-md mb-8 lg:mb-12 flex justify-center items-center flex-col">
            <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white mr-4">Calendars</h2>
            <div class="flex justify-center items-center space-x-2 w-full">
                <input id="report_start_date" name="report_start_date" datepicker datepicker-format="MM dd yyyy" type="text" value="{{ report_start_date }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Start Date">
                <input id="report_end_date" name="report_end_date" datepicker datepicker-format="MM dd yyyy" type="text" value="{{ report_end_date }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="End Date">
                <button onclick="getBookingReport()" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Get Booking Report</button>
            </div>
        </div>
        <div class="flex justify-center items-center mb-6">
            <div class="flex items-center mr-2">
                <span class="w-10 flex justify-center items-center text-blue-500 border border-blue-500 font-extrabold rounded-sm mr-2">01</span>
                <span>- Booking</span>
            </div>
            <div class="flex items-center mr-2">
                <span class="w-10 flex justify-center items-center relative rounded-sm mr-2">01
                    <div class="absolute top-0 right-0 w-2 h-2 bg-transparent" style="clip-path: polygon(100% 0, 0 0, 100% 100%); background-color: #4ade80;"></div>
                </span>
                <span>- Cleaning</span>
            </div>
            <div class="flex items-center">
                <span class="w-10 flex justify-center items-center relative rounded-sm mr-2">01
                    <div class="absolute bottom-0 right-0 w-2 h-2 bg-transparent" style="clip-path: polygon(100% 100%, 100% 0, 0 100%); background-color: #facc15;"></div>
                </span>
                <span>- Payment</span>
            </div>
            <div class="flex items-center mr-2">
                <span class="w-10 flex justify-center items-center text-purple-500 font-extrabold rounded-sm mr-2">01</span>
                <span>- Start/End Date</span>
            </div>
        </div>
        
        
        {% for apartment_id, apartment_data in apartments_data.items %}
                <div class="flex flex-col justify-center items-center w-full">
                    <div class="w-full flex items-center justify-center text-center">
                        <h2 class="text-2xl text-center mb-2 tracking-tight font-extrabold text-blue-500 dark:text-white mr-4">{{  apartment_data.apartment.name }} [{{apartment_data.apartment.status}}] </h2>
                        <a class="cursor-pointer ml-4" target="_blank"  href="/apartment/?apartment.id={{apartment_id}}">
                            <svg class="w-8 h-8 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"fill="none" viewBox="0 0 17 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 12v5m5-9v9m5-5v5m5-9v9M1 7l5-6 5 6 5-6"/>
                            </svg>
                        </a>
                    </div>
                    <div class="text-center flex justify-center text-gray-500">
                        <strong class="text-green-500">Start Date: </strong> <span class="font-bold mx-2"> {{ apartment_data.apartment.report_start_date|format_nullable_date }} </span> - &nbsp;
                        <strong class="text-green-500">End Date: </strong> <span class="font-bold mx-2">{{ apartment_data.apartment.end_date|format_nullable_date }}</span>
                    </div>
                </div>
            
            <div class="flex items-center mb-8">
                <!-- Previous Button -->
                <a href="/?page={{ prev_page }}" class="text-white p-4 rounded-l" style="height: fit-content;">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13"/>
                    </svg>
                </a>

                <!-- Calendars -->
                <div class="flex-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for month, weeks in apartment_data.months.items %}
                    {% include "calendar.html" %}
                    {% endfor %}
                </div>
        
                <!-- Next Button -->
                <a href="/?page={{ next_page }}" class=" text-white p-4 rounded-r" style="height: fit-content;">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                    </svg>
                </a>
            </div>
       {% endfor %}
    
  </div>
</section>

<script>

    function getBookingReport(){
        const report_start_date = document.getElementById('report_start_date').value;
        const report_end_date = document.getElementById('report_end_date').value;
        const url = `/booking-report/?report_start_date=${report_start_date}&report_end_date=${report_end_date}`
        console.log(url, "url")
        window.location.href = url
    }

    function formatNullableDate(dateString) {
        // Check if the dateString is null or undefined
        if (dateString === null || dateString === undefined) {
          return '-';
        }
      
        // Format the date using JavaScript Date object
        const formattedDate = new Date(dateString).toLocaleDateString('en-US', {
          month: 'short',
          day: 'numeric',
          year: 'numeric'
        });
      
        return formattedDate;
      }
    document.addEventListener('DOMContentLoaded', function() {
        // Function to save scroll position
        function saveScrollPosition() {
            localStorage.setItem('calendarScrollPosition', window.scrollY);
        }

        // Function to restore scroll position
        function restoreScrollPosition() {
            const storedScrollPosition = localStorage.getItem('calendarScrollPosition');
            if (storedScrollPosition !== null) {
                window.scrollTo(0, parseInt(storedScrollPosition, 10));
            }
        }

        // Attach a scroll event listener to the window
        window.addEventListener('scroll', saveScrollPosition);

        // Restore scroll position when the page loads
        window.addEventListener('load', restoreScrollPosition);
    });
</script>

<script>

    function openModalForItemId(itemId) {
        const deleteIdInput = document.getElementById('deleteId');
        const editIdInput = document.getElementById('editId');
        const updateModal = document.getElementById('updateModal');
        const paymentContainer = document.getElementById("paymentsContainer-edit");
        paymentContainer.innerHTML = '';

        const item = items_json.find(i => i.id === itemId);
        deleteIdInput.value = itemId;
        editIdInput.value = itemId;

        if (item) {
            for (let [fieldName, fieldValue] of Object.entries(item)) {

                if(fieldName === "start_date" || fieldName === "end_date"){
                   console.log(fieldName, fieldValue, "fieldValue")
                }
                if(fieldName === "apartment_id"){
                    fieldName = "apartment"
                }
                const inputFields = updateModal.querySelectorAll(`[name="${fieldName}"]`);
                inputFields.forEach((inputField) => {
                   
                    if (inputField.tagName === 'SELECT') {
                        let valueSet = false;
                        for (const option of inputField.options) {
                            if (option.value == fieldValue) {
                                option.selected = true;
                                valueSet = true;
                            } else {
                                option.selected = false;
                            }
                        }
                        if (!valueSet && !fieldValue) {
                            inputField.options[0].selected = true; 
                        }
                    
                    } else if (inputField.tagName === 'INPUT' && inputField.type === 'radio') {
                        
                        if (!fieldValue && !inputField.value) {
                            inputField.checked = true;
                        } else if (String(inputField.value) === String(fieldValue)) {
                            inputField.checked = true;
                        } else {
                            inputField.checked = false; // Uncheck other options that don't match
                        }
                    
                    } else if (inputField.tagName === 'INPUT' && inputField.hasAttribute('datepicker')) {
                        inputField.setAttribute('data-date', fieldValue);
                        inputField.value = formatDate(fieldValue);
                    } else if (inputField.tagName === 'TEXTAREA') {
                        inputField.innerHTML = fieldValue;
                    } else if (inputField.tagName === 'INPUT' && inputField.type === 'checkbox') {
                        inputField.checked = (fieldValue === true || fieldValue === '1');
                    } else {
                        inputField.value = fieldValue;
                    }
                })
            }

            const linksContainer = document.querySelector('#updateModal .related-links');
            linksContainer.innerHTML = ''; 

            item.links.forEach(link => {
                const parts = link.name.split(':');
                if (parts.length !== 2) return;

                const linkContainer = document.createElement('div');
                linkContainer.classList.add('flex', 'items-center', 'mb-2');

                const boldText = document.createElement('span');
                boldText.textContent = parts[0].trim() + ': ';
                boldText.classList.add('font-bold', 'mr-1');

                const linkElement = document.createElement('a');
                linkElement.href = link.link;
                linkElement.textContent = parts[1].trim();
                linkElement.setAttribute('target', '_blank');
                linkElement.classList.add('text-blue-500', 'hover:text-blue-700', 'mr-2');

                const arrowSymbol = document.createElement('span');
                arrowSymbol.innerHTML = '&rarr;';
                arrowSymbol.classList.add('ml-2');

                linkContainer.appendChild(boldText);
                linkContainer.appendChild(linkElement);
                linkElement.appendChild(arrowSymbol);

                linksContainer.appendChild(linkContainer);
            });
            createDocusealForm(item.contract_url)
            if(item.payments){
                console.log(item.payments, "item.payments")
                item.payments.forEach(payment => {
                    addPaymentRow("edit", payment.date, payment.amount, payment.payment_type, payment.status, payment.notes, payment.id)
                })
            }
        }

        updateModal.style.display = 'flex';
    }

    function setSelectedOptionByText(selectId, optionText) {
        const selectElement = document.getElementById(selectId);
      
        if (selectElement) {
          for (let i = 0; i < selectElement.options.length; i++) {
            const option = selectElement.options[i];
           
            if (option.value === optionText) {
              // Set the selected property
              option.selected = true;
      
              // If you also want to add the 'selected' attribute
              option.setAttribute('selected', 'selected');
              
            } else {
              // Ensure other options don't have the 'selected' attribute
              option.removeAttribute('selected');
            }
          }
        }
      }
      
    
      document.addEventListener('DOMContentLoaded', function() {
        const days = document.querySelectorAll('.day');
        const popover = document.getElementById('dynamic-popover');
        const popoverTitle = document.getElementById('popover-title');
        const popoverContent = document.getElementById('popover-content');
        const closeButton = document.getElementById('close-popover');
       

        closeButton.addEventListener('click', function() {
            popover.classList.add('hidden');
        });

        
    
        days.forEach(day => {
            day.addEventListener('click', function(event) {
                const date = day.dataset.date;
                const start_date = document.getElementById('start_date');
                const end_date = document.getElementById('end_date');
                

                start_date.value = formatDate(date)
                end_date.value = formatDate(date)
                setSelectedOptionByText("apartment", day.dataset.apartmentId)
            })
            day.addEventListener('mouseenter', function(event) {
                const date = day.dataset.date;
    
                const bookingIds = day.dataset.bookingIds.split(',');
                const bookingStarts = day.dataset.bookingStarts.split(',');
                const tenants = day.dataset.tenants.split(',');
                const tenantsIds = day.dataset.tenantsIds.split(',');
                const bookingEnds = day.dataset.bookingEnds.split(',');
                const bookingStatuses = day.dataset.bookingStatuses.split(',');
    
                const cleaningIds = day.dataset.cleaningIds.split(',');
                const cleaningStatuses = day.dataset.cleaningStatuses.split(',');
    
                const paymentIds = day.dataset.paymentIds.split(',');
                const paymentTypes = day.dataset.paymentTypes.split(',');
                const paymentAmounts = day.dataset.paymentAmounts.split(',');
                const paymentStatuses = day.dataset.paymentStatuses.split(',');
    
                // Set the title of the popover with the date
                popoverTitle.textContent = date;
                

                // Prepare the content for the popover
                let content = '';
    
                bookingIds.forEach((bookingId, index) => {
                    if (bookingId) {
                        content += `<strong>Booking:</strong> <a class='text-blue-500 underline' href="/bookings/?q=id=${bookingId}">${bookingStarts[index]} - ${bookingEnds[index]} [${bookingStatuses[index]}]. </a><br>`;
                    }
                });
                tenantsIds.forEach((tenantId, index) => {
                    if (tenantId) {
                        content += `<strong>Tenant:</strong> <a class='text-blue-500 underline' href="/users/?q=id=${tenantId}">${tenants[index]}. </a><br>`;
                    }
                });
    
                cleaningIds.forEach((cleaningId, index) => {
                    if (cleaningId) {
                        content += `<strong>Cleaning:</strong> <a class='text-blue-500 underline' href="/cleanings/?q=id=${cleaningId}">Cleaning: [${cleaningStatuses[index]}]</a><br>`;
                    }
                });
    
                paymentIds.forEach((paymentId, index) => {
                    if (paymentId) {
                        content += `<strong>Payment:</strong>  <a class='text-blue-500 underline' href="/payments/?q=id=${paymentId}">${paymentTypes[index]} ${paymentAmounts[index]} [${paymentStatuses[index]}]</a><br>`;
                    }
                });
    
                // Update the popover content
                popoverContent.innerHTML = content || 'No events for this day';
    
                // Position the popover above the clicked day
                popover.style.left = `${event.clientX - (popover.offsetWidth / 2) + 25}px`;
                popover.style.top = `${event.clientY - popover.offsetHeight - 10}px`;
    
                // Show the popover
                popover.classList.remove('hidden');
            });
             // Hide the popover when clicking outside
            day.addEventListener('mouseleave', function(event) {
                popover.classList.add('hidden');
            });
        });
    });
    
</script>

<div id="dynamic-popover" class="hidden fixed z-10 w-[375px] text-sm text-gray-500  bg-white border border-gray-200 rounded-lg shadow-sm  dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
    <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700 flex justify-between items-center">
        <h3 class="font-semibold text-gray-900 dark:text-white" id="popover-title"></h3>
        <button id="close-popover" class="text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-white">
            &times;
        </button>
    </div>
    <div class="px-3 py-2" id="popover-content">
        <!-- Content will be dynamically added here -->
    </div>
</div>
  
{% include "booking_create.html" %}
{% include "booking_edit.html" %}

{% endblock content %}
