{% extends "_base.html" %}
{% load slippers %}
{% load custom_filters %}
{% block content %}


{% comment %} {% #table  model_fields=model_fields items_json=items_json  model="notifications" search_query=request.GET.q items=items %}
{% /table %} {% endcomment %}
<script>
    const items_json ={{ items_json|safe }}
</script>

<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
    <div class="mx-auto max-w-screen-xl p-2 mt-2 px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full flex items-center">
                    
                        <!-- Previous Year Button -->
                        <a href="/?page={{ prev_page }}" class="text-blue-500 underline p-4 block font-extrabold" >
                            Previous Page
                        </a>

                        <a href="?" class="text-blue-500 underline p-4 block font-extrabold" >
                            Now
                        </a>
                    
                        <!-- Next Year Button -->
                        <a href="/?page={{ next_page }}" class="text-blue-500 underline p-4 block font-extrabold" >
                            Next Page
                        </a>
                        
                   
                </div>
                <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                    <button type="button" id="createNewItem" data-modal-target="createModal" data-modal-toggle="createModal" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                        </svg>
                        Add Item
                    </button>
                </div>       
            </div>
            
            <div  class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr class="w-full">
                            <th scope="col" class="px-4 py-4 min-w-[90px] align-top">Date</th>
                            <th scope="col" class="px-4 py-4 min-w-[200px] align-top">CheckIn</th>
                            <th scope="col" class="px-4 py-4 min-w-[200px] align-top">CheckOut</th>
                            <th scope="col" class="px-4 py-4 min-w-[300px align-top">Payment</th>
                            <th scope="col" class="px-4 py-4 min-w-[300px] align-top">Cleaning</th>               
                            <th scope="col" class="px-4 py-4 min-w-[200px] align-top">Other</th>               
             
                        </tr>
                    </thead>
                    <tbody>
                        {% for date, notification_types in grouped_notifications.items %}
                    
                            <tr  class="border-b w-full  hover:bg-gray-100 dark:hover:bg-gray-800 dark:border-gray-700">
                                <td class="px-4 py-4 min-w-[90px]"><strong>{{ date }}</strong></td>
                                <td class="px-4 py-4 min-w-[200px] align-top  max-h-[100px]">
                                    <div >
                                    {% for notification_type, notification in notification_types %}
                                        {% if notification_type == 'checkin' %}
                                            <div  class="mx-auto cursor-pointer  bg-white rounded-sm shadow-xl p-2 mt-2 {{model}}-row" data-id="{{ notification.id }}">{{ notification.notification_message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                </td>
                                <td class="px-4 py-4 min-w-[200px] align-top">
                                    <div >
                                    {% for notification_type, notification in notification_types %}
                                        {% if notification_type == 'checkout' %}
                                            <div class="mx-auto cursor-pointer  bg-white rounded-sm shadow-xl p-2 mt-2 {{model}}-row" data-id="{{ notification.id }}">{{ notification.notification_message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </td>
                                <td class="px-4 py-4 min-w-[200px] align-top">
                                    <div  >
                                    {% for notification_type, notification in notification_types %}
                                        {% if notification_type == 'payment' %}
                                            <div class="mx-auto cursor-pointer  bg-white rounded-sm shadow-xl p-2 mt-2 {{model}}-row" data-id="{{ notification.id }}">{{ notification.notification_message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </td>
                                <td class="px-4 py-4 min-w-[200px] align-top">
                                    <div >
                                    {% for notification_type, notification in notification_types %}
                                        {% if notification_type == 'cleaning' %}
                                            <div class="mx-auto cursor-pointer  bg-white rounded-sm shadow-xl p-2 mt-2 {{model}}-row" data-id="{{ notification.id }}">{{ notification.notification_message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </td>
                                <td  class="px-4 py-4 min-w-[200px] align-top">
                                    <div  >
                                    {% for notification_type, notification in notification_types %}
                                        {% if notification_type == 'other' %}
                                            <div class="mx-auto cursor-pointer  bg-white rounded-sm shadow-xl p-2 mt-2 {{model}}-row" data-id="{{ notification.id }}">{{ notification.notification_message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </td>
                               
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center py-4">No data found</td>
                            </tr>
                     {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</section>

<script>
   
</script>
{% include "components/table/table_edit.html" %}
{% include "components/table/table_create.html" %}
{% include "components/table/table_delete.html" %}


{% endblock content %}