{% extends "_base.html" %}
{% load slippers %}
{% block content %}
<script>
    console.log("{{ items.0.phone }}")
    console.log("{{ search_query}}", "search queary")
    console.log(`{{request.GET.q}}`, "request")
</script>


{% #table field_data=field_data special_fields=special_fields  model="payments" search_query=request.GET.q items=items search_fields="property.name, tenant.full_name" show="payment_date, bank.bank_name, payment_method.method_name, payment_type, amount, payment_status" %}
{% /table %}

{% endblock content %}