{% extends "_base.html" %}
{% load slippers %}
{% load custom_filters %}
{% block content %}

<section class="bg-gray-50 p-3 sm:p-5 antialiased">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden  p-5">

            <form method="POST" action="/payments-sync/" enctype="multipart/form-data">
                <div class="flex items-center justify-between">
                    <input type="file" id="csv_file" name="csv_file" accept=".csv"
                        class=" block w-[70%] text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer focus:outline-none dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
                    <button type="submit"
                        class="ml-4 w-[30%] bg-blue-500 hover:bg-blue-7000 text-white font-bold py-2 px-4 rounded">
                        Upload BA CSV
                    </button>
                </div>
            </form>
            {% if data %}
            <div>
                <h2>Report Start Date: {{ data.start_date }}</h2>
                <h2>Report End Date: {{ data.end_date }}</h2>
            </div>

            <div>
                <h3>Not Matched Payments</h3>
                <ul>
                    {% for payment in data.not_matched_payments %}
                    <li>{{ payment.description }} - {{ payment.amount }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h3>Possible Matches</h3>
                <ul>
                    {% for match in data.possible_matches %}
                    <li>{{ match.db_payment.description }} - {{ match.db_payment.amount }}</li>
                    <ul>
                        {% for m in match.matches %}
                        <li>{{ m.field_name }}: {{ m.file_value }} - {{ m.db_value }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </ul>
            </div>

            <form method="POST" action="/update-payments/">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div>
                    <h3>Edit Payments</h3>
                    {% for payment in data.possible_matches %}
                    <div>
                        <label>Amount:</label>
                        <input type="text" name="amount" value="{{ payment.db_payment.amount }}">
                        <label>Description:</label>
                        <input type="text" name="description" value="{{ payment.db_payment.description }}">
                        <!-- Add other fields as necessary -->
                        <button type="submit">Update Payment</button>
                    </div>
                    {% endfor %}
                </div>
            </form>

            <form method="POST" action="/create-payments/">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div>
                    <h3>Create New Payment</h3>
                    <label>Amount:</label>
                    <input type="text" name="amount">
                    <label>Description:</label>
                    <input type="text" name="description">
                    <!-- Add other fields as necessary -->
                    <button type="submit">Create Payment</button>
                </div>
            </form>
            {% endif %}

        </div>
    </div>
</section>

{% endblock content %}