{% extends "_base.html" %}
{% load slippers %}
{% block content %}


{% #table  model_fields=model_fields items_json=items_json  model="payments" search_query=request.GET.q items=items %}
<div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
    <select onchange="updateSearchInput()" name="payment_status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-1/6 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        <option value="">All Statuses</option>
        <option value="Pending" {% if current_payment_status == 'Pending' %}selected{% endif %}>Pending</option>
        <option value="Completed" {% if current_payment_status == 'Completed' %}selected{% endif %}>Completed</option>
        <option value="Merged" {% if current_payment_status == 'Merged' %}selected{% endif %}>Merged</option>
    </select>
</div>
<script>
    function updateSearchInput() {
        const paymentStatusDropdown = document.querySelector('[name="payment_status"]');
        const paymentStatus = paymentStatusDropdown.value;
        const searchInput = document.getElementById('simple-search');
        
        // Check if the search input contains values other than payment_status
        const otherFiltersExist = searchInput.value && !searchInput.value.match(/^payment_status=[^&]+$/);

        if (paymentStatus) {
            if (otherFiltersExist) {
                // Remove existing payment_status if it exists
                searchInput.value = searchInput.value.replace(/(AND\s*)?payment_status=[^&]+(&)?/g, '');
                
                searchInput.value = (searchInput.value + " AND payment_status=" + paymentStatus).trim();
            } else {
                searchInput.value = "payment_status=" + paymentStatus;
            }
        } else {
            searchInput.value = searchInput.value.replace(/(AND\s*)?payment_status=[^&]+(&)?/g, '').trim();
        }
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const qValue = urlParams.get('q');
        
        const paymentStatus = qValue.split('=')[1];
    
        const paymentStatusDropdown = document.querySelector('[name="payment_status"]');
        if (paymentStatus) {
            paymentStatusDropdown.value = paymentStatus;
        }

        // Add invoice icons to the table
        const tableRows = document.querySelectorAll('tr[data-id]');
        tableRows.forEach(row => {
            const rowData = JSON.parse(row.getAttribute('data-json'));
            if (rowData.booking_id) {
                const lastCell = row.querySelector('td:last-child');
                if (lastCell) {
                    if (rowData.invoice_url) {
                        lastCell.innerHTML = `
                            <a href="${rowData.invoice_url}" onclick="event.stopPropagation()">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M9 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm2-2a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2h-3Zm0 3a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2h-3Zm-6 4c0-.6.4-1 1-1h8c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1H8a1 1 0 0 1-1-1v-6Zm8 1v1h-2v-1h2Zm0 3h-2v1h2v-1Zm-4-3v1H9v-1h2Zm0 3H9v1h2v-1Z" clip-rule="evenodd"/>
                                </svg>
                            </a>`;
                    } else {
                        lastCell.innerHTML = `
                            <a href="/generate-invoice/?id=${rowData.id}" onclick="event.stopPropagation()">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M9 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H9Zm2 0V2h7a2 2 0 0 1 2 2v6.4A7.5 7.5 0 1 0 10.5 22H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M9 16a6 6 0 1 1 12 0 6 6 0 0 1-12 0Zm6-3c.6 0 1 .4 1 1v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 1 1 0-2h1v-1c0-.6.4-1 1-1Z" clip-rule="evenodd"/>
                                </svg>
                            </a>`;
                    }
                }
            }
        });
    });
</script>

{% /table %}

{% endblock content %}