{% load custom_filters %}

<div id="updateModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Update / Delete / Create {{ model|title }}</h3>
                <button id="closeEditModal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="updateModal">
                    <!-- ... (close button SVG) ... -->
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form  method="POST" action="/{{ model }}/">
                <input type="hidden" name="edit_add" value="true">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    {% for field in field_data %}
                        {% if not field.name|is_excluded %}
                            <div>
                                <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.name|split_underscore|title }}</label>
                                
                                {% if field.name in special_fields %}
                                    {% with type=special_fields|get_item:field.name %}
                                        {% if type == "datepicker" %}
                                                <div class="relative max-w-sm">
                                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                                    </svg>
                                                    </div>

                                                    <input name="{{field}}" datepicker type="date" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                                                </div>
                                        {% elif type == "checkbox" %}
                                                <div class="flex items-center">
                                                    <input checked id="{{field}}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                    <label for="{{field}}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
                                                </div>
                                             
                                        {% elif type == "dropdown" %}
                                            {% with options=special_fields|get_options:field.name %}
                                                <select name="{{ field.name }}" id="{{ field.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                    {% for option in options %}
                                                        <option value="{{ option.value }}" {% if option.value == item|get_item:field.name %}selected{% endif %}>{{ option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endwith %}
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <input type="text" name="{{ field.name }}" id="{{ field.name }}" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{ field.name|split_underscore|title }}">
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% comment %} {% for field in field_data %}
                        {% if not field|is_excluded %}
                            {% if field in special_fields %}
                                <div>
                                    <label for="{{ field }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field|split_underscore|title }}</label>
                                    {% with options=special_fields|get_options:field current_value=item|get_item:field %}
                                    {% if options %}
                                        <select name="{{ field }}" id="{{ field }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                            {% for option in options %}
                                                <option value="{{ option.value }}" {% if option.value == current_value %}selected{% endif %}>{{ option.label }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            {% else %}
                             <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                  </svg>
                                </div>
                                <input datepicker type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                              </div>
                              <div class="flex items-center">
    <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="checked-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
</div>
                                <div>
                                    <label for="{{ field }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field|split_underscore|title }}</label>
                                    <input type="text" name="{{ field }}" id="{{ field }}" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{ field|split_underscore|title }}">
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div> {% endcomment %}
                <div class="flex items-center space-x-4">
                    <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-500">Update</button>
                   
                    <button type="submit" id="createNewItem" class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                        </svg>
                        Create
                    </button>
                    <button data-modal-target="deleteModal" data-modal-toggle="deleteModal"  type="button" class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                        <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('.{{ model|lower }}-row');
        const updateModal = document.getElementById('updateModal');


        const closeModalButton = document.getElementById('closeEditModal');
        closeModalButton.addEventListener('click', function() {
            updateModal.style.display = 'none';
        });
        window.addEventListener('click', function(event) {
            if (event.target === updateModal) {
                updateModal.style.display = 'none';
            }
        });
        const createNewItemButton = document.getElementById('createNewItem');
        const deleteIdInput = document.getElementById('deleteId');

        createNewItemButton.addEventListener('click', function() {
            const idInput = updateModal.querySelector('[name="id"]');
            idInput.value = '';
        });
        window.addEventListener('keydown', function(event) {
            if (event.key === 'Escape' && updateModal.style.display === 'flex') {
                updateModal.style.display = 'none';
            }
        });
    
        rows.forEach(row => {
            row.addEventListener('click', function() {
                const itemId = row.getAttribute('data-id');
                deleteIdInput.value = itemId;
                // Loop through all data attributes of the row
                for (let attr of row.attributes) {
                    if (attr.name.startsWith('data-') && attr.name !== 'data-modal-target'&& attr.name !== 'data-modal-toggle') {
                        let fieldName = attr.name.replace('data-', '');
                        let fieldValue = attr.value;
                        let inputField = updateModal.querySelector(`[name="${fieldName}"]`);
                        console.log(inputField, fieldName, fieldValue);
    
                        if(inputField){
                            if (inputField.tagName === 'SELECT') {
                                for (let option of inputField.options) {
                                    console.log(option.value, fieldValue, "should be selected")
                                    if (option.text === fieldValue) {
                                    
                                        option.selected = true;
                                    } else {
                                        option.selected = false;
                                    }
                                }
                            }
                            else if (inputField.tagName === 'INPUT' && inputField.type === 'date') {
                                // Handle date fields
                                inputField.value = fieldValue;
                            } else if (inputField.tagName === 'INPUT' && inputField.type === 'checkbox') {
                                // Handle checkbox fields
                                inputField.checked = (fieldValue === 'true' || fieldValue === '1');
                            } else {
                                inputField.value = fieldValue;
                            }

                        }
                    }
                }
    
                // Show the modal
                updateModal.style.display = 'flex';
            });
        });
    });    
</script>