{% load custom_filters %}
<nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white">{{ items.start_index }}-{{ items.end_index }}</span>
        of
        <span class="font-semibold text-gray-900 dark:text-white">{{ items.paginator.count }}</span>
    </span>
   <ul class="inline-flex items-stretch -space-x-px">
    <li>
        {% if items.has_previous %}
        <a href="?q={{ search_query }}&page={{ items.previous_page_number }}" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Previous</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
        </a>
        {% endif %}
    </li>
    {% with num_pages_minus_5=items.paginator.num_pages|subtract:5 %}
    {% with  page_rest=items.paginator.num_pages|subtract:4%}
        {% for page_num in items.paginator.page_range %}
            {% if page_num <= 5 or page_num > num_pages_minus_5 or page_num == items.number %}
                <li>
                    <a href="?q={{ search_query }}&page={{ page_num }}" 
                    class="{% if page_num == items.number %}bg-primary-50 text-primary-600 border-primary-300{% else %} bg-white text-gray-500 border-gray-300 hover:bg-gray-100 hover:text-gray-700{% endif %} border flex items-center justify-center text-sm py-2 px-3 leading-tight ">
                        {{ page_num }}
                    </a>
                </li>
                {% if page_num == page_rest %}
                    <li>
                        <span class="border flex items-center justify-center text-sm py-2 px-3 leading-tight bg-white text-gray-500 border-gray-300">
                            ...
                        </span>
                    </li>
                {% endif %}
            {% endif %}
    
        {% endfor %}
    {% endwith %}
    {% endwith %}


    <li>
        {% if items.has_next %}
        <a href="?q={{ search_query }}&page={{ items.next_page_number }}" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
        </a>
        {% endif %}
    </li>
</ul>
</nav>


