{% load custom_filters %}

<div id="updateModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Update / Delete {{ model|title }}</h3>
                <button id="closeEditModal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="updateModal">
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form  method="POST" action="/{{ model }}/">
                <input type="hidden" name="edit" value="true">
                <input type="hidden" name="id" id="editId" value="">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    {% for field_name, field_instance in model_fields %}
                        {% if field_instance.isEdit %}
                            {% if field_instance.ui_element == "textarea" %}
                                <div class="sm:col-span-2">
                                    <label for="{{ field_name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field_name|split_underscore|title }}
                                        {% if field_instance.required %}<span class="text-red-600">*</span>{% endif %}
                                    </label>
                                    <textarea id="{{field_name}}" name="{{field_name}}" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder=""></textarea>
                                </div>
                            {% else %}
                                <div>
                                    <label for="{{ field_name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field_name|split_underscore|title }}
                                        {% if field_instance.required %}<span class="text-red-600">*</span>{% endif %}
                                    </label>
                                    {% if field_instance.ui_element == "datepicker" %}
                                        <input name="{{field_name}}" id="{{field_name}}" datepicker type="text" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                                    {% elif field_instance.ui_element == "checkbox" %}
                                        <input checked id="{{field_name}}" type="checkbox" name="{{field_name}}" value="1" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    {% elif field_instance.ui_element == "dropdown" %}
                                        <select name="{{ field_name }}" id="{{ field_name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                            <option value="">None</option>
                                            {% for option in field_instance.dropdown_options %}
                                                <option value="{{ option.value }}">{{ option.label }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif field_instance.ui_element == "radio" %}
                                        <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                            <div>
                                                <input type="radio" id="{{ field_name }}_none" name="{{ field_name }}" value="" class="text-primary-600 border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                <label for="{{ field_name }}_none" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">None</label>
                                            </div>
                                            {% for option in field_instance.dropdown_options %}
                                                <div>
                                                    <input type="radio" id="{{ field_name }}_{{ forloop.counter }}" name="{{ field_name }}" value="{{ option.value }}" class="text-primary-600 border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                                    <label for="{{ field_name }}_{{ forloop.counter }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ option.label }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <input type="text" name="{{ field_name }}" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{ field_name|split_underscore|title }}">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="paymentsContainer-edit"></div>  
                <div class="mb-4">
                    <h4 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">Related Objects:</h4>
                    <div class="related-links flex flex-col">
                        <!-- Links will be populated here by JavaScript -->
                    </div>
                </div>            
                <div class="flex items-center space-x-4">
                    <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-500">Update</button>
                   
                    <button data-modal-target="deleteModal" data-modal-toggle="deleteModal"  type="button" class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                        <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                        Delete
                    </button>
                    {% if model == "bookings" %}
                        <button type="button" onclick='addPaymentRow("edit")' id="payment-button" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-500">Add Payment</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function formatDate(dateString) {
        if (!dateString) {
            return "";
        }
    
        const date = new Date(dateString);
        const isoString = date.toISOString();
        const [year, month, day] = isoString.substring(0, 10).split('-');
        return `${month}/${day}/${year}`;
    }
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('.{{ model|lower }}-row');
        const updateModal = document.getElementById('updateModal');
    
        const closeModalButton = document.getElementById('closeEditModal');
        closeModalButton.addEventListener('click', function() {
            updateModal.style.display = 'none';
        });
    
        window.addEventListener('click', function(event) {
            if (event.target === updateModal) {
                updateModal.style.display = 'none';
            }
        });
    
        const deleteIdInput = document.getElementById('deleteId');
        const editIdInput = document.getElementById('editId');
    
        window.addEventListener('keydown', function(event) {
            if (event.key === 'Escape' && updateModal.style.display === 'flex') {
                updateModal.style.display = 'none';
            }
        });
        console.log(items_json, "items_json")
        rows.forEach(row => {
            row.addEventListener('click', function() {
                const itemId = parseInt(row.getAttribute('data-id'));
                openModalForItemId(itemId);
            });
        });
    
        function openModalForItemId(itemId) {
            const item = items_json.find(i => i.id === itemId);
            deleteIdInput.value = itemId;
            editIdInput.value = itemId;
    
            if (item) {
                for (const [fieldName, fieldValue] of Object.entries(item)) {

                    const inputFields = updateModal.querySelectorAll(`[name="${fieldName}"]`);
                    inputFields.forEach((inputField) => {
                       
                        if (inputField.tagName === 'SELECT') {
                            let valueSet = false;
                            for (const option of inputField.options) {
                                if (option.value == fieldValue) {
                                    option.selected = true;
                                    valueSet = true;
                                } else {
                                    option.selected = false;
                                }
                            }
                            if (!valueSet && !fieldValue) {
                                inputField.options[0].selected = true; 
                            }
                        
                        } else if (inputField.tagName === 'INPUT' && inputField.type === 'radio') {
                            
                            if (!fieldValue && !inputField.value) {
                                inputField.checked = true;
                            } else if (String(inputField.value) === String(fieldValue)) {
                                inputField.checked = true;
                            } else {
                                inputField.checked = false; // Uncheck other options that don't match
                            }
                        
                        } else if (inputField.tagName === 'INPUT' && inputField.hasAttribute('datepicker')) {
                            inputField.setAttribute('data-date', formatDate(fieldValue));
                            inputField.value = formatDate(fieldValue);
                        } else if (inputField.tagName === 'TEXTAREA') {
                            inputField.innerHTML = fieldValue;
                        } else if (inputField.tagName === 'INPUT' && inputField.type === 'checkbox') {
                            inputField.checked = (fieldValue === true || fieldValue === '1');
                        } else {
                            inputField.value = fieldValue;
                        }
                    })
                }
    
                const linksContainer = document.querySelector('#updateModal .related-links');
                linksContainer.innerHTML = ''; 
    
                item.links.forEach(link => {
                    const parts = link.name.split(':');
                    if (parts.length !== 2) return;
    
                    const linkContainer = document.createElement('div');
                    linkContainer.classList.add('flex', 'items-center', 'mb-2');
    
                    const boldText = document.createElement('span');
                    boldText.textContent = parts[0].trim() + ': ';
                    boldText.classList.add('font-bold', 'mr-1');
    
                    const linkElement = document.createElement('a');
                    linkElement.href = link.link;
                    linkElement.textContent = parts[1].trim();
                    linkElement.setAttribute('target', '_blank');
                    linkElement.classList.add('text-blue-500', 'hover:text-blue-700', 'mr-2');
    
                    const arrowSymbol = document.createElement('span');
                    arrowSymbol.innerHTML = '&rarr;';
                    arrowSymbol.classList.add('ml-2');
    
                    linkContainer.appendChild(boldText);
                    linkContainer.appendChild(linkElement);
                    linkElement.appendChild(arrowSymbol);
    
                    linksContainer.appendChild(linkContainer);
                });
            }
    
            updateModal.style.display = 'flex';
        }
    
        const urlParams = new URLSearchParams(window.location.search);
        const qValue = urlParams.get('q');
    
        if (qValue && qValue.startsWith('id=')) {
            const itemId = parseInt(qValue.split('=')[1]);
            openModalForItemId(itemId);
        }
    
    });
</script>    