{% load custom_filters %}

<tbody>
    {% for item in items %}
    <tr class="border-b cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-800 dark:border-gray-700 {{model}}-row" data-id="{{ item|get_item:"id" }}">
        {% for field_name, field_instance in model_fields %}
            {% if field_instance.isColumn %}
                {% if "status" in field_name %}
                    <td class="px-4 py-4">
                        {% if item|get_item:field_name == "Waiting Contract" %}
                            <span class="bg-yellow-200 text-yellow-500 px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% elif item|get_item:field_name == "Waiting Payment" %}
                            <span class="bg-orange-200 text-orange-500 px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% elif item|get_item:field_name == "Confirmed" or item|get_item:field_name == "Available" %}
                            <span class="bg-green-200 text-green-700 px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% elif item|get_item:field_name == "Blocked" %}
                            <span class="bg-black text-white px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% elif item|get_item:field_name == "Pending" %}
                            <span class="bg-green-200 text-green-400 px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% elif item|get_item:field_name == "Problem Booking" or item|get_item:field_name == "Unavailable" %}
                            <span class="bg-red-200 text-red-500 px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% elif item|get_item:field_name in "Signed,Completed,Done,Merged,Scheduled" %}
                            <span class="bg-green-500 text-gray-700 px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% else %}
                            <span class="bg-gray-200 text-gray-700 px-2 py-1 rounded-full">{{ item|get_item:field_name }}</span>
                        {% endif %}
                    </td>
                {% elif field_name == "amount" %}
                    {% with payment_type=item|get_custom_item:"payment_type.full_name2"|default:"" %}
                        {% if "-Out" in payment_type %}
                            <td class="px-4 py-4 text-red-600">-{{ item|get_item:field_name }}</td>
                        {% else %}
                            <td class="px-4 text-green-600 py-4">+{{ item|get_item:field_name }}</td>
                        {% endif %}
                    {% endwith %}
                {% elif field_instance.display_field %}
                    {% for display in field_instance.display_field %}
                        {% if display == "apartment.name" and "booking.apartment.name" in field_instance.display_field %}
                            {# Do nothing for now as you haven't specified any logic for this condition #}
                        {% elif display == "booking.apartment.name" and "apartment.name" in field_instance.display_field %}
                            <td class="px-4 py-4">
                                {% with item_booking_apartment_name=item|get_custom_item:"booking.apartment.name" item_apartment_name=item|get_custom_item:"apartment.name" %}
                                    {{ item_booking_apartment_name|default:item_apartment_name }}
                                {% endwith %}
                            </td>
                        {% else %}
                            <td class="px-4 py-4">
                                {{ item|get_custom_item:display }}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td class="px-4 py-4">{{ item|get_item:field_name }}</td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="{{ model_fields|length }}" class="text-center py-4">No data found</td>
    </tr>
    {% endfor %}
</tbody>



