{% load custom_filters %}

<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        {% for field_name, field_instance in model_fields %}
            {% if field_instance.isColumn %}
                {% if field_instance.display_field %}
                    {% for display in field_instance.display_field %}
                    {% if display == "apartment.name" and "booking.apartment.name" in field_instance.display_field %}
                            {# Skip this iteration #}
                        {% elif field_name != "invoice_url" %}
                            <th scope="col" class="px-4 py-4">{{ display|second_to_last|split_underscore }}</th>
                        {% endif %}
                    {% endfor %}
                {% elif field_name != "invoice_url" %}
                    <th scope="col" class="px-4 py-4">{{ field_name|split_underscore }}</th>
                {% endif %}
            {% endif %}
        {% endfor %}
        <th scope="col" class="px-4 py-4">Actions</th>
    </tr>
</thead>