<div class="bg-gray-100 p-2 mt-5 flex flex-col">
    <div class="text-black font-bold text-lg cursor-pointer" onclick="toggleContentVisibility()">
        DB Payments For Period 
        <span class="font-bold text-blue-500">{{data.start_date|date:"m/d/Y"}}</span>
         to 
        <span class="font-bold text-blue-500">{{data.end_date|date:"m/d/Y"}}</span>
        
        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{data.possible_matches|length}}</span>
    </div>
    <div class="flex text-sm text-gray-700">
        File Report Start Date - 5 days and End Date + 5 days
    </div>
</div>
<ul id="content" style="display:none;">
    {% for match_item in data.possible_matches %}
        <li id="{{ match_item.db_payment.id }}" class="flex border-2 w-full flex-col border-gray-200 hover:border-gray-600 cursor-pointerm my-5 shadow-lg shadow-gray-600">
            <div class="font-bold flex p-2 bg-gray-100 w-full justify-center items-center border-b border-t border-gray-300">
                DB Payment
            </div>
            <div class="flex p-2 w-full justify-center items-center border-b border-t border-gray-300">
                <div class="w-[90px] text-center flex-shrink-0 p-2 border-r items-center justify-center border-gray-300">
                    {{ match_item.db_payment.id }}
                </div>
                <div class="w-[120px] flex-shrink-0 p-2 border-r border-gray-300">
                    {{ match_item.db_payment.payment_date|date:"m/d/Y" }}
                </div>
                <div class="flex flex-grow p-2 flex-col border-r border-gray-300">
                    <div class="flex justify-between border-b border-gray-300">
                    <div><span class="font-bold"> Notes: </span> {{ match_item.db_payment.notes|default:"N/A" }}</div>
                    <div><span class="font-bold"> Method: </span> {{ match_item.db_payment.payment_method|default:"N/A" }}</div>
                    <div><span class="font-bold"> Bank: </span> {{ match_item.db_payment.bank|default:"N/A" }}</div>
                    </div>
                    <div class="flex justify-between">
                        <div> <span class="font-bold">Type:</span> {{ match_item.db_payment.payment_type|default:"N/A" }}</div>
                        <div> <span class="font-bold">Status:</span> {{ match_item.db_payment.payment_status|default:"N/A" }}</div>
                    </div>
                </div>
                <div class="w-[150px] flex-shrink-0 flex justify-center p-2 border-r border-gray-300">{{ match_item.db_payment.apartmentName }}</div>
                <div class="w-[150px] flex-shrink-0 flex justify-center p-2">
                    ${{ match_item.db_payment.amount|floatformat:0 }}
                </div>
            </div>
            <div class="font-bold flex p-2 bg-gray-100 w-full justify-center items-center border-b border-t border-gray-300">
                Matches From File
                <span class="ml-2 bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">{{match_item.matches|length}}</span> 
            </div>
            <ul>
                {% for match in match_item.matches %}
                    <li onclick="openEditModalForPayment({{ match_item.db_payment.id}}, '{{match.file_payment.id}}' )"  class="flex p-2 w-full justify-center hover:bg-gray-100 cursor-pointer items-center border-b border-t border-gray-300">
                        <div class="w-[90px] flex flex-col items-center justify-center flex-shrink-0 p-2 border-r border-gray-300">
                            <span>{{ match.file_payment.id|cut:"id_" }}</span>
                            <span class="{% if not match.id or match.id == 'No Match' %}text-red-500{% elif match.id == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.id|default:"No Match" }}</span>
                            <span>{{ match_item.db_payment.id}}</span>
                        </div>
                        <div class="w-[120px] flex items-center justify-cente flex-col flex-shrink-0 p-2 border-r border-gray-300">
                            <span>{{ match.file_payment.payment_date|date:"m/d/Y" }}</span>
                            <span class="{% if not match.payment_date or match.payment_date == 'No Match' %}text-red-500{% elif match.payment_date == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.payment_date|default:"No Match" }}</span>
                            <span>{{ match_item.db_payment.payment_date|date:"m/d/Y"}}</span>
                        </div>
                        <div class="flex flex-grow p-2 flex-col border-r border-gray-300">
                            <span>{{ match.file_payment.notes|default:"N/A" }}</span>
                        </div>
                        <div class="w-[150px]  flex-col flex-shrink-0 flex p-2 border-r items-center justify-center border-gray-300">
                            <span>{{ match.file_payment.apartment_name|default:"N/A" }}</span>
                            <span class="{% if not match.apartment or match.apartment == 'No Match' %}text-red-500{% elif match.apartment == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.apartment|default:"No Match" }}</span>
                            <span>{{ match_item.db_payment.apartmentName|default:"N/A"}}</span>
                        </div>
                        <div class="w-[150px] flex-col flex-shrink-0 flex items-center justify-center p-2">
                            <span>${{ match.file_payment.amount|floatformat:0 }}</span>
                            <span class="{% if not match.amount or match.amount == 'No Match' %}text-red-500{% elif match.amount == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.amount|default:"No Match" }}</span>
                            <span>${{ match_item.db_payment.amount|floatformat:0 }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<script>
function toggleContentVisibility() {
    var content = document.getElementById('content');
    if (content.style.display === 'none') {
        content.style.display = 'block';
    } else {
        content.style.display = 'none';
    }
}
</script>
