<div class="bg-gray-100 p-2 mt-5 flex flex-col">
    <div class="text-black font-bold text-lg">
        Payments Matches 
    </div>
</div>
{% if data.possible_matches_db_to_file %}
<div id="select_payment_to_merge" class="flex space-x-2 mt-4 justify-between">
        <div class="flex space-x-2">
            <button id="file_payments_selector_button" data-dropdown-toggle="file_payments_selector" data-dropdown-placement="bottom" class="text-white w-[400px] justify-between bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                <div>File Payments</div>
                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <button id="db_payments_selector_button" data-dropdown-toggle="db_payments_selector" data-dropdown-placement="bottom" class="justify-between w-[400px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                <div>DB Payments</div>
                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
        </div>
        
        <!-- Dropdown menu -->
        <div id="file_payments_selector" class="z-10 hidden bg-white rounded-lg shadow w-[400px] dark:bg-gray-700">
            <div class="p-3">
              <label for="file_search_input" class="sr-only">Search</label>
              <div class="relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
                </div>
                <input type="text" id="file_search_input" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search payments">
              </div>
            </div>
            <ul id="file_payments_list" class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="file_payments_selector_button">
              <!-- Options will be populated by JavaScript -->
            </ul>
        </div>
        <div id="db_payments_selector" class="z-10 hidden bg-white rounded-lg shadow w-[400px] dark:bg-gray-700">
            <div class="p-3">
              <label for="db_search_input" class="sr-only">Search</label>
              <div class="relative">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
                </div>
                <input type="text" id="db_search_input" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search payments">
              </div>
            </div>
            <ul id="db_payments_list" class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="db_payments_selector_button">
              <!-- Options will be populated by JavaScript -->
            </ul>
        </div>
        

        <button type="button" id="mergeAllPayments" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
            Merge Payments
        </button>
</div>
{% endif %}
<script>

    document.addEventListener('DOMContentLoaded', function() {
        const fileSearchInput = document.getElementById('file_search_input');
        const dbSearchInput = document.getElementById('db_search_input');
        const filePaymentsList = document.getElementById('file_payments_list');
        const dbPaymentsList = document.getElementById('db_payments_list');
        const mergeAllPaymentsButton = document.getElementById('mergeAllPayments');
    
        let selectedFilePayments = new Set();
        let selectedDbPayments = new Set();
    
        function filterPayments(payments, searchValue) {
            return payments.filter(payment => 
                payment.amount.toString().includes(searchValue) || 
                payment.payment_date.includes(searchValue) || 
                (payment.notes && payment.notes.toLowerCase().includes(searchValue.toLowerCase())) ||
                payment_types_dictionary[payment.payment_type].toLowerCase().includes(searchValue.toLowerCase())
            );
        }
    
        function updatePaymentsList(payments, listElement, selectedPayments) {
            let html = "";
            if (listElement.id === "db_payments_list") {
                html += `
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="new_payment" type="checkbox" value="-1" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="new_payment" class="w-full font-bold flex flex-col justify-between p-2 text-sm text-gray-900 rounded dark:text-gray-300">
                            New Payment
                        </label>
                    </div>
                </li>
                `;
            }
            html += payments.map(payment => `
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="${listElement.id === 'file_payments_list' ? 'file_payment_' : 'db_payment_'}${payment.id}" type="checkbox" value="${payment.id}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" ${selectedPayments.has(String(payment.id)) ? 'checked' : ''}>
                        <label for="${listElement.id === 'file_payments_list' ? 'file_payment_' : 'db_payment_'}${payment.id}" class="w-full flex flex-col justify-between p-2 text-sm text-gray-900 rounded dark:text-gray-300">
                            <div class="flex w-full justify-between">
                                <div class="font-bold">${formatDate(payment.payment_date)}</div>
                                ${payment_types_dictionary[payment.payment_type].includes("- Out") ? 
                                "<div class='text-red-500 font-bold'>" + " -$"+ payment.amount : 
                                "<div class='text-green-500 font-bold'> $" + payment.amount} </div>
                                <div class="font-bold"> ${payment_types_dictionary[payment.payment_type]} </div>
                            </div>
                            
                            <div class="">${payment.notes}</div>
                        </label>
                    </div>
                </li>
            `).join('');
            listElement.innerHTML = html;
        }
    
        fileSearchInput.addEventListener('input', function() {
            const searchValue = fileSearchInput.value;
            const filteredPayments = filterPayments(file_payments_json, searchValue);
            updatePaymentsList(filteredPayments, filePaymentsList, selectedFilePayments);
        });
    
        dbSearchInput.addEventListener('input', function() {
            const searchValue = dbSearchInput.value;
            const filteredPayments = filterPayments(db_payments_json, searchValue);
            updatePaymentsList(filteredPayments, dbPaymentsList, selectedDbPayments);
        });
    
        // Initial population of the lists
        updatePaymentsList(file_payments_json, filePaymentsList, selectedFilePayments);
        updatePaymentsList(db_payments_json, dbPaymentsList, selectedDbPayments);
    
        // Merge Payments functionality
        mergeAllPaymentsButton.addEventListener('click', function() {
            const selectedFilePaymentsArray = Array.from(filePaymentsList.querySelectorAll('input[type="checkbox"]:checked')).map(checkbox => checkbox.value);
            const selectedDbPaymentsArray = Array.from(dbPaymentsList.querySelectorAll('input[type="checkbox"]:checked')).map(checkbox => checkbox.value);
    
            if (selectedFilePaymentsArray.length === 0 || selectedDbPaymentsArray.length === 0) {
                alert('Please select at least one payment from both lists to merge.');
                return;
            } else if (selectedFilePaymentsArray.length > 1 && selectedDbPaymentsArray.length > 1) {
                alert('It should be one file payment and multiple db payments or one db payment and multiple file payments');
                return;
            }
    
            mergePaymentsLists(selectedDbPaymentsArray, selectedFilePaymentsArray);
        });
    
        // Track selected payments
        filePaymentsList.addEventListener('change', function(event) {
            if (event.target.type === 'checkbox') {
                if (event.target.checked) {
                    selectedFilePayments.add(event.target.value);
                } else {
                    selectedFilePayments.delete(event.target.value);
                }
            }
        });
    
        dbPaymentsList.addEventListener('change', function(event) {
            if (event.target.type === 'checkbox') {
                if (event.target.checked) {
                    selectedDbPayments.add(event.target.value);
                } else {
                    selectedDbPayments.delete(event.target.value);
                }
            }
        });
    });

    function mergePaymentsLists(db_payment_ids, file_payment_ids) {
        const file_payments_list = file_payments_json.filter(payment => file_payment_ids.includes(String(payment.id)));
        const db_payments_list = db_payments_json.filter(payment => db_payment_ids.includes(String(payment.id)));
    
        let merged_payments = {};
        if (db_payment_ids.length === 1 && db_payment_ids[0] === "-1") {
            merged_payment = mergeMultipleFilePaymentsInNewPayment(file_payments_list);
            openNewPaymentModal(merged_payment);
            return merged_payment;
           
        }
        else if (db_payments_list.length > 1) {
            // Merge multiple db payments into one file payment
            const file_payment = file_payments_list[0]; // Assuming we merge into the first file payment
            merged_payments = mergeMultipleDbPayments(db_payments_list, file_payment);
        } else if (file_payments_list.length > 1) {
            // Merge multiple file payments into one db payment
            const db_payment = db_payments_list[0]; // Assuming we merge into the first db payment
            merged_payments = mergeMultipleFilePayments(file_payments_list, db_payment);
        } else {
            // Handle the case where there is only one db payment and one file payment
            merged_payments = [merge2Payments(db_payment_ids[0], file_payment_ids[0])];
        }
        merged_payments.forEach(payment => {
            payments_for_save_to_db.push(payment)
        })
        updateSavedPayments()
        file_payment_ids.forEach(file_payment_id => {
            removePaymentFromList(file_payment_id)
        })
    }
    
    function mergeMultipleDbPayments(db_payments_list, file_payment) {
        const merged_payment = { ...file_payment };
    
        db_payments_list.forEach(db_payment => {
            db_payment.payment_status = 'Merged';
            db_payment.notes += `[${file_payment.notes}]`;
            db_payment.file_id = ` ${file_payment.id}`;
            db_payment.payment_method = file_payment.payment_method || db_payment.payment_method || null;
            db_payment.payment_type = db_payment.payment_type || file_payment.payment_type;
            db_payment.bank = file_payment.bank || db_payment.bank;
            db_payment.file_date = file_payment.payment_date;
            db_payment.file_amount = file_payment.amount;
            db_payment.file_notes = file_payment.notes;
            db_payment.payment_date = formatDate(db_payment.payment_date);
            db_payment.id = String(db_payment.id);
        });
    
        return db_payments_list;
    }

    function openNewPaymentModal(merged_payment) {
        console.log("******************TEST*****************")
        id_input = document.getElementById('editId')
        file_id_input = document.getElementById('fileId')
        id_input.value = merged_payment.id
        file_id_input.value = merged_payment.file_id
        for (let [fieldName, fieldValue] of Object.entries(merged_payment)) {
            console.log(fieldName, fieldValue, "fieldName, fieldValue")
            if(fieldName === "apartment_id"){
                fieldName = "apartment"
            }
            
            
            const inputFields = updateModal.querySelectorAll(`[name="${fieldName}"]`);
            inputFields.forEach((inputField) => {

                if (inputField.tagName === 'SELECT') {
                    let valueSet = false;
                    for (const option of inputField.options) {
                        if (option.value == fieldValue) {
                            option.selected = true;
                            valueSet = true;
                        } else {
                            option.selected = false;
                        }
                    }
                    if (!valueSet && !fieldValue) {
                        inputField.options[0].selected = true; 
                    }
                
                } else if (inputField.tagName === 'INPUT' && inputField.type === 'radio') {
                    
                    if (!fieldValue && !inputField.value) {
                        inputField.checked = true;
                    } else if (String(inputField.value) === String(fieldValue)) {
                        inputField.checked = true;
                    } else {
                        inputField.checked = false; // Uncheck other options that don't match
                    }
                    
                
                } else if (inputField.tagName === 'INPUT' && inputField.hasAttribute('datepicker')) {
                    inputField.setAttribute('data-date', formatDate(fieldValue));
                    inputField.value = formatDate(fieldValue);
                } else if (inputField.tagName === 'TEXTAREA') {
                    inputField.value = "";
                    inputField.value = fieldValue;
                } else if (inputField.tagName === 'INPUT' && inputField.type === 'checkbox') {
                    inputField.checked = (fieldValue === true || fieldValue === '1');
                } else {
                    inputField.value = fieldValue;
                }
            })
        }
        

        updateModal.style.display = 'flex';
    }

    function formatDateTime(dateStr) {
        const date = new Date(dateStr + 'Z'); // Append 'Z' to indicate UTC time
        const month = String(date.getUTCMonth() + 1).padStart(2, '0'); // Months are zero-based
        const day = String(date.getUTCDate()).padStart(2, '0');
        const year = date.getUTCFullYear();
        return `${month}/${day}/${year}`;
    }
    
    function mergeMultipleFilePayments(file_payments_list, db_payment) {
        const merged_payment = { ...db_payment };
        merged_payment.amount = 0;
        merged_payment.payment_date = formatDate(merged_payment.payment_date);
        merged_payment.payment_status = 'Merged';
        merged_payment.merged_payment_key = ""

        file_payments_list.forEach((file_payment, index) => {
            merged_payment.amount += Math.abs(file_payment.amount);
            merged_payment.notes +=  ` Merged Payment - ${index + 1}[${file_payment.notes}]`;
            merged_payment.apartment = merged_payment.apartment || file_payment.apartment;
            merged_payment.payment_method = file_payment.payment_method || merged_payment.payment_method || null;
            merged_payment.payment_type = merged_payment.payment_type || file_payment.payment_type;
            merged_payment.bank = merged_payment.bank || file_payment.bank;
            merged_payment.file_id += ` ${file_payment.id}`;
            merged_payment.merged_payment_key += formatDateTime(file_payment.payment_date)  + file_payment.amount + file_payment.notes;
            console.log(merged_payment.merged_payment_key, "merged_payment_key");
          
            merged_payment.id = String(merged_payment.id);
        });
    
        return [merged_payment];
    }

    function mergeMultipleFilePaymentsInNewPayment(file_payments_list) {
        const merged_payment = { };
        merged_payment.amount = 0;
        merged_payment.payment_date = formatDate(merged_payment.payment_date);
        merged_payment.payment_status = 'Merged';
        merged_payment.merged_payment_key = ""
        merged_payment.notes = ""
        merged_payment.file_id = ""

        file_payments_list.forEach((file_payment, index) => {
            merged_payment.amount += Math.abs(file_payment.amount);
            merged_payment.notes +=  ` Merged Payment - ${index + 1}[${file_payment.notes}]`;
            merged_payment.apartment = file_payment.apartment || null;
            merged_payment.payment_method = file_payment.payment_method || null;
            merged_payment.payment_type = file_payment.payment_type || null;
            merged_payment.bank = file_payment.bank || null;
            merged_payment.file_id += ` ${file_payment.id}`;
            merged_payment.id = "id_not_set";
            merged_payment.merged_payment_key += formatDateTime(file_payment.payment_date)  + file_payment.amount + file_payment.notes;
            
          
        });
        console.log(merged_payment, "mergeMultipleFilePaymentsInNewPayment");
    
        return merged_payment;
    }

</script>
<ul>
    {% for match_item in data.possible_matches_db_to_file %}
        <li id="{{ match_item.file_payment.id }}" class="flex flex-col border w-full mt-10 shadow-lg shadow-gray-300 border-gray-200 ">
            <div class="flex p-2 w-full justify-center items-center border-gray-300">    
                    <div class="w-[90px] text-center flex-shrink-0 p-2 border-r items-center justify-center border-gray-300">
                    {{ match_item.file_payment.id }}
                    </div>
                    <div class="w-[140px] flex-shrink-0 p-2 border-r border-gray-300 items-center justify-center">
                    {{ match_item.file_payment.payment_date|date:"m/d/Y" }}
                    </div>
                    <div class="flex flex-grow p-2 border-r  border-gray-300">
                        {{ match_item.file_payment.notes }}
                    </div>
                    <div class="w-[150px] flex-shrink-0 flex p-2 border-r items-center justify-center border-gray-300">
                        {{ match_item.file_payment.apartment_name|default:"N/A" }}
                    </div>
                    <div class="w-[150px] flex-shrink-0 flex p-2 items-center justify-center {% if match_item.file_payment.payment_type_name == 'Other (Out)' %}text-red-500{% else %}text-green-500{% endif %}">
                        {% if match_item.file_payment.payment_type_name == 'Other (Out)' %}-{% endif %}${{ match_item.file_payment.amount|floatformat:0 }} 
                    </div>
            </div>
            {% if match_item.matches|length > 0 %}
                {% with match=match_item.matches|first %}
                    <div  class="cursor-pointer flex flex-col p-2 w-full justify-center items-center border-b border-t border-gray-300 {% if match.score >= 3 %}bg-green-100{% else %}bg-white-100{% endif %}">
                        <div class="flex w-full hover:bg-gray-100" id="{{ match.db_payment.id }}" onclick="openEditModalForPayment({{ match.db_payment.id}}, '{{match_item.file_payment.id}}' )" >    
                            <div class="w-[90px] flex-col flex-shrink-0 p-2 border-r items-center justify-center border-gray-300">
                                <div><span class="font-bold">DB:</span> {{ match.db_payment.id }}</div>
                                <div class="{% if not match.id or match.id == 'No Match' %}text-red-500{% elif match.id == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.id|default:"No Match" }}</div>
                                <div><span class="font-bold">F:</span> {{ match_item.file_payment.id|cut:"id_"}}</div>
                            </div>
                            <div class="w-[140px] flex-col flex-shrink-0 p-2 border-r border-gray-300">
                                <div><span class="font-bold">DB:</span> {{ match.db_payment.payment_date|date:"m/d/Y" }}</div>
                                <div class="{% if not match.payment_date or match.payment_date == 'No Match' %}text-red-500{% elif match.payment_date == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.payment_date|default:"No Match" }}</div>
                                <div><span class="font-bold">F:</span> {{ match_item.file_payment.payment_date|date:"m/d/Y"}}</div>
                            </div>
                            <div class="flex flex-grow p-2 flex-col border-r border-gray-300">
                            <div class="text-left border-b border-gray-300"> <span class="font-bold">Notes:</span> {{ match.db_payment.notes|default:"N/A" }}</div>
                            <div class="text-left border-b border-gray-300"> <span class="font-bold">Matched Keywords:</span> {{ match.keywords|default:"N/A" }}</div>
                                <div class="flex justify-between">
                                    <div> <span class="font-bold">Type:</span> {{ match.db_payment.payment_type|default:"N/A" }}</div>
                                    <div><span class="font-bold"> Method: </span> {{ match.db_payment.payment_method|default:"N/A" }}</div>
                                    <div><span class="font-bold"> Bank: </span> {{ match.db_payment.bank|default:"N/A" }}</div>
                                    <div> <span class="font-bold">Status:</span> {{ match.db_payment.payment_status|default:"N/A" }}</div>
                                </div>
                                {% if match.db_payment.booking and match.db_payment.booking.tenant %}
                                    <div class="mt-2">
                                        <span class="font-bold">Tenant:</span> {{ match.db_payment.booking.tenant.full_name|default:"N/A" }} <span class="ml-2 {% if match.tenant_match == 'Exact Match' %}text-green-500{% else %}text-red-500{% endif %}">({{ match.tenant_match|default:"No Match" }})</span>
                                    </div>
                                {% endif%}
                            </div>
                            <div class="w-[150px] flex-col flex-shrink-0 flex justify-center p-2 border-r border-gray-300">
                                <div><span class="font-bold">DB:</span> {{ match.db_payment.apartmentName|default:"N/A" }}</div>
                                <div class="{% if not match.apartment or match.apartment == 'No Match' %}text-red-500{% elif match.apartment == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.apartment|default:"No Match" }}</div>
                                <div><span class="font-bold">F:</span> {{ match_item.file_payment.apartment_name|default:"N/A"}}</div>
                            </div>
                            <div class="w-[150px] flex-col flex-shrink-0 flex justify-center p-2">
                                <div class="w-[150px] flex-shrink-0 flex p-2 items-center justify-center {% if match.db_payment.payment_type.type == 'Out' %}text-red-500{% else %}text-green-500{% endif %}">
                                    <span class="font-bold">DB:</span> {% if match.db_payment.payment_type.type == 'Out' %}-{% endif %}${{ match.db_payment.amount|floatformat:0 }}
                                </div>
                                <div class="items-center text-center justify-center {% if not match.amount or match.amount == 'No Match' %}text-red-500{% elif match.amount == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.amount|default:"No Match" }}</div>
                                <div class="w-[150px] flex-shrink-0 flex p-2 items-center justify-center {% if match_item.file_payment.payment_type_name == 'Other (Out)' %}text-red-500{% else %}text-green-500{% endif %}">
                                    <span class="font-bold">F:</span> {% if match_item.file_payment.payment_type_name == 'Other (Out)' %}-{% endif %}${{ match_item.file_payment.amount|floatformat:0 }} 
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full border-t border-gray-300 pt-2 justify-end">
                        <button onclick="autoMergePayment({{ match.db_payment.id}}, '{{match_item.file_payment.id}}' )" class="bg-purple-500 hover:bg-purple-700 text-white w-[240px] font-bold py-2  rounded ml-2">Merge</button>
                        </div>
                    </div>
                {% endwith %}
            {% endif %}
            {% if match_item.matches|length > 1 %}
                <div  class="flex w-full justify-center border-t bg-gray-100 p-2 items-center text-black  border-b border-gray-3000">
                    <div class="flex w-full">DB Matches 
                        <span class="bg-red-100 ml-2 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{match_item.matches|length}}</span>
                    </div>
                    <button onclick="this.parentElement.parentElement.remove()" class="flex text-right justify-end items-end self-end bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-2 rounded">Delete</button>
                    <button onclick="toggleMatches('toggle_{{ match_item.file_payment.id }}'); this.textContent = this.textContent === 'Show' ? 'Hide' : 'Show';" class="flex ml-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Show</button>
                    <button onclick="openEditModalForPayment(null, '{{ match_item.file_payment.id }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">Create</button>
                </div>
                
                <ul  id="toggle_{{ match_item.file_payment.id }}" style="display:none;">
                    <li>
                        <div class="flex w-full border-t bg-gray-100 p-2 items-center text-black font-bold text-lg border-b border-gray-3000">
                            <input class="w-[400px]" id="search_input_{{ match_item.file_payment.id }}" type="text" placeholder="Search by amount, apartment, notes or tenant name"> 
                            <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'amount')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Amount</button>
                            <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'apartment')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Apartment</button>
                            <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'tenant')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Tenant</button>
                            <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'notes')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Notes</button>
                        </div>
                        <ul id="search_results_{{ match_item.file_payment.id }}">
        
                        </ul> 
                    </li> 
                    {% for match in match_item.matches|slice:"1:" %}
                    <li  class="cursor-pointer flex flex-col p-2 w-full justify-center items-center border-b border-gray-300   {% if match.score >= 3 %}bg-green-100{% else %}bg-white-100{% endif %}">
                        <div class="flex w-full hover:bg-gray-100" id="{{ match.db_payment.id }}" onclick="openEditModalForPayment({{ match.db_payment.id}}, '{{match_item.file_payment.id}}' )" >    
                            <div class="w-[90px] flex-col flex-shrink-0 p-2 border-r items-center justify-center border-gray-300">
                                <div><span class="font-bold">DB:</span> {{ match.db_payment.id }}</div>
                                <div class="{% if not match.id or match.id == 'No Match' %}text-red-500{% elif match.id == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.id|default:"No Match" }}</div>
                                <div><span class="font-bold">F:</span> {{ match_item.file_payment.id|cut:"id_"}}</div>
                            </div>
                            <div class="w-[140px] flex-col flex-shrink-0 p-2 border-r border-gray-300">
                                <div><span class="font-bold">DB:</span> {{ match.db_payment.payment_date|date:"m/d/Y" }}</div>
                                <div class="{% if not match.payment_date or match.payment_date == 'No Match' %}text-red-500{% elif match.payment_date == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.payment_date|default:"No Match" }}</div>
                                <div><span class="font-bold">F:</span> {{ match_item.file_payment.payment_date|date:"m/d/Y"}}</div>
                            </div>
                            <div class="flex flex-grow p-2 flex-col border-r border-gray-300">
                            <div class="text-left border-b border-gray-300"> <span class="font-bold">Notes:</span> {{ match.db_payment.notes|default:"N/A" }}</div>
                                <div class="flex justify-between">
                                    <div> <span class="font-bold">Type:</span> {{ match.db_payment.payment_type|default:"N/A" }}</div>
                                    <div><span class="font-bold"> Method: </span> {{ match.db_payment.payment_method|default:"N/A" }}</div>
                                    <div><span class="font-bold"> Bank: </span> {{ match.db_payment.bank|default:"N/A" }}</div>
                                    <div> <span class="font-bold">Status:</span> {{ match.db_payment.payment_status|default:"N/A" }}</div>
                                </div>
                                {% if match.db_payment.booking and match.db_payment.booking.tenant %}
                                    <div class="mt-2">
                                        <span class="font-bold">Tenant:</span> {{ match.db_payment.booking.tenant.full_name|default:"N/A" }} <span class="ml-2 {% if match.tenant_match == 'Exact Match' %}text-green-500{% else %}text-red-500{% endif %}">({{ match.tenant_match|default:"No Match" }})</span>
                                    </div>
                                {% endif%}
                            </div>
                            <div class="w-[150px] flex-col flex-shrink-0 flex justify-center p-2 border-r border-gray-300">
                                <div><span class="font-bold">DB:</span> {{ match.db_payment.apartmentName|default:"N/A" }}</div>
                                <div class="{% if not match.apartment or match.apartment == 'No Match' %}text-red-500{% elif match.apartment == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.apartment|default:"No Match" }}</div>
                                <div><span class="font-bold">F:</span> {{ match_item.file_payment.apartment_name|default:"N/A"}}</div>
                            </div>
                            <div class="w-[150px] flex-col flex-shrink-0 flex justify-center p-2">
                                <div class="w-[150px] flex-shrink-0 flex p-2 items-center justify-center {% if match.db_payment.payment_type.type == 'Out' %}text-red-500{% else %}text-green-500{% endif %}">
                                    <span class="font-bold">DB:</span> {% if match.db_payment.payment_type.type == 'Out' %}-{% endif %}${{ match.db_payment.amount|floatformat:0 }}
                                </div>
                                <div class="items-center text-center justify-center {% if not match.amount or match.amount == 'No Match' %}text-red-500{% elif match.amount == 'Exact Match' %}text-green-500{% else %}text-blue-500{% endif %}">{{ match.amount|default:"No Match" }}</div>
                                <div class="w-[150px] flex-shrink-0 flex p-2 items-center justify-center {% if match_item.file_payment.payment_type_name == 'Other (Out)' %}text-red-500{% else %}text-green-500{% endif %}">
                                    <span class="font-bold">F:</span> {% if match_item.file_payment.payment_type_name == 'Other (Out)' %}-{% endif %}${{ match_item.file_payment.amount|floatformat:0 }}
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full border-t justify-end border-gray-300 pt-2">
                           <button onclick="autoMergePayment({{ match.db_payment.id}}, '{{match_item.file_payment.id}}' )" class="bg-purple-500 hover:bg-purple-700 text-white w-[400px] font-bold py-2 rounded ml-2">Merge</button>
                        </div>
                    </li>
                   
                    {% endfor %}
                </ul> 
            {% else %}
                <div class="flex w-full border-t bg-gray-100 p-2 items-center text-black font-bold text-lg border-b border-gray-3000">
                   <input class="w-[400px]" id="search_input_{{ match_item.file_payment.id }}" type="text" placeholder="Search value"> 
                   <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'amount')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Amount</button>
                    <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'apartment')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Apartment</button>
                    <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'tenant')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Tenant</button>
                    <button onclick="searchForMatch('{{ match_item.file_payment.id }}', 'notes')" class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2">Search Notes</button>
                    <button onclick="openEditModalForPayment(null, '{{ match_item.file_payment.id }}')" class="bg-green-500 text-white font-bold py-2 px-4 rounded ml-2">Create</button>
                </div>
                <ul id="search_results_{{ match_item.file_payment.id }}">

                </ul> 
            {% endif %}
        </li>
    {% endfor %}
</ul>



<script>
function toggleMatches(id) {
    window.event.stopPropagation();

    var content = document.getElementById(id);
    if (content.style.display === 'none') {
        content.style.display = 'block';
    } else {
        content.style.display = 'none';
    }
}
function searchForMatch(search_id, search_type) {
    var searchInput = document.getElementById(`search_input_${search_id}`);
    var searchValue = searchInput.value;
    var items_to_add = []
    db_payments_json.forEach(item => {
       if (searchValue && search_type == 'amount' && Math.floor(item.amount) == searchValue || 
            searchValue && search_type == 'apartment' && item.apartment_name == searchValue || 
            searchValue && search_type == 'tenant' && item.tenant_name.toLowerCase().includes(searchValue.toLowerCase()) ||
            searchValue && search_type == 'notes' && (item.notes && item.notes.toLowerCase().includes(searchValue.toLowerCase()))
        ) {
        items_to_add.push(item)
       }
    });
    var items_to_add_html = items_to_add.map(item => {

        return `<li   class="cursor-pointer flex flex-col p-2 w-full justify-center items-center border-b border-gray-300">
                         <div  class="flex w-full hover:bg-gray-100" id=${item.id} onclick="openEditModalForPayment(${item.id}, '${search_id}')" >   
                            <div class="w-[90px] flex-col flex-shrink-0 p-2 border-r items-center justify-center border-gray-300">
                                ${item.id}
                            </div>
                            <div class="w-[140px] flex-col flex-shrink-0 p-2 border-r border-gray-300">
                                ${item.payment_date}
                            </div>
                            <div class="flex flex-grow p-2 flex-col border-r border-gray-300">
                               <div class="text-left border-b border-gray-300"> <span class="font-bold">Notes:</span> 
                                ${ item.notes || "N/A" }
                                </div>
                                <div class="flex justify-between">
                                    <div> <span class="font-bold">Type:</span> ${item.payment_type ? payment_types_dictionary[item.payment_type] || 'N/A' : 'N/A'}</div>
                                    <div><span class="font-bold"> Method: </span> ${ item.payment_method ? payment_methods_dictionary[item.payment_method] || 'N/A' : 'N/A'}</div>
                                    <div><span class="font-bold"> Bank: </span> ${ item.bank ? payment_methods_dictionary[item.bank] || 'N/A' : 'N/A'}</div>
                                    <div> <span class="font-bold">Status:</span> ${item.payment_status || "N/A"}</div>
                                </div>
                                <div class="mt-2">
                                    <span class="font-bold">Tenant:</span> ${ item.tenant_name || "N/A" }
                                </div>
                                
                            </div>
                            <div class="w-[150px] flex-col flex-shrink-0 flex justify-center p-2 border-r border-gray-300">
                                 ${item.apartment_name || "N/A"}
                            </div>
                            <div class="w-[150px] flex-col flex-shrink-0 flex justify-center p-2  ${ payment_types_dictionary[item.payment_type].includes("- Out") ? 'text-red-500' : 'text-green-500'}">
                                ${ payment_types_dictionary[item.payment_type].includes("- Out") ? '-' : ''}${ item.amount}
                            </div>
                            
                        </div>

                        <div class="flex w-full border-t border-gray-300 pt-2 justify-end">
                            <button onclick="autoMergePayment(${item.id}, '${search_id}')" class="bg-purple-500 hover:bg-purple-700 text-white w-[240px] font-bold py-2  rounded ml-2">Merge</button>
                        </div>
                    </li>`
    })
    var search_results_html = items_to_add.length > 0 ? items_to_add_html.join("") : "<div class='p-2 text-red-500 text-sm'>No matches found</div>"
    document.getElementById(`search_results_${search_id}`).innerHTML = search_results_html
}
</script>
